@model AssignmentUpdateRequest

<div class="backdrop" id="backdrop">
    <div class="container container--narrow">
        <form class="form" method="post" asp-controller="Assignments" asp-action="EditAssignment">
            <div class="form__element">
                <input asp-for="AssignmentID" type="hidden">
                <input type="hidden" name="selectedDate" value="@ViewBag.SelectedDateLink">
                <div class="form__element__part form__element__label">
                    <label asp-for="Content">Edit task</label>
                </div>
                <div class="form__element__part form__element__input">
                    <input asp-for="Content" class="input--edit" spellcheck="false">
                    <span class="form__validation-result" asp-validation-for="Content"></span>
                </div>
            </div>
            <div class="form__element">
                <div class="form__element__part form__element__button">
                    <button type="submit" id="edit-task-submit-btn" class="btn btn--edit">Edit</button>
                    <button type="button" id="edit-task-cancel-btn" class="btn btn--edit">
                        @if(ViewBag.RenderedAlone == true)
                        {
                            <a asp-controller="Assignments" asp-action="List">Cancel</a>
                        } else
                        {
                            <span>Cancel</span>
                        }
                    </button>
                </div>
            </div>
            @ViewBag.Errors
        </form>
    </div>
</div>