<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskHub - @ViewBag.Title</title>
    <link rel="icon" href="~/Assets/logo/favicon-color.png">
    <link rel="stylesheet" href="~/Styles/Root/root.min.css">
    @RenderSection("Styles", false)
    @RenderSection("ScriptsHead", false)
    <script src="https://kit.fontawesome.com/fb3001e2e6.js" crossorigin="anonymous" defer></script>
</head>
<body>
    @RenderBody()
</body>
</html>