@import "../../Root/_globalVariables";
@import "../../Root/Mixins/_flex-mixin";

.calendar-container {
    width: 90%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);

    .calendar__header {
        @include flex(space-between, center, row);
        padding: 5% 7% 3%;
        color: $pageSecondaryColor;

        .icons {
            @include flex(space-evenly, center, row);

            span {
                margin: 0 1px;
                cursor: pointer;
                text-align: center;
                line-height: 38px;
                font-size: 1.0rem;
                user-select: none;
                border-radius: 50%;

                &:last-child {
                    margin-right: -10px;
                    margin-left: 10px;
                }

                &:hover {
                    background: #f2f2f2;
                }
            }
        }

        .current-date {
            font-weight: 700;
        }
    }

    .calendar__content {
        padding: 5%;

        ul {
            @include flex(flex-start, normal, row, wrap);
            list-style: none;
            text-align: center;
        }

        li {
            width: calc(100% / 7);
            font-size: .65rem;
        }

        .weeks {
            li {
                cursor: default;
            }
        }

        .days {
            margin-bottom: 20px;

            li {
                z-index: 1;
                cursor: pointer;
                position: relative;
                margin-top: 30px;

                a {
                    text-decoration: none;
                    color: inherit;
                    display: block;
                    text-align: center;
                }

                &.inactive {
                    color: invert($textColor, 45%);
                }

                &.today {
                    &::before {
                        border: 1px solid $textColor;
                    }
                }

                &:not(.selected-day):hover::before {
                    background: #f2f2f2;
                }

                &.selected-day {
                    color: #fff;

                    &::before {
                        background: #9B59B6;
                    }
                }

                &::before {
                    position: absolute;
                    content: "";
                    left: 50%;
                    top: 50%;
                    height: 30px;
                    width: 30px;
                    z-index: -1;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
