* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}

body {
  background: rgb(255, 88, 95);
  background: radial-gradient(circle, #ff797f 50%, #ff9a9f 100%);
  min-height: 100vh;
  color: #1e55b3;
}
