@import "../../Root/Mixins/_flex-mixin";
@import "../../Root/_globalVariables";

.form {
    width: 100%;
    @include flex(flex-start, center);

    &__element {
        width: 80%;
        margin: 15px;
        //background-color: red;

        &__part {
            width: 100%;

            label {
                font-size: .8em;
            }

            input {
                width: 100%;
                height: 30px;
                outline: none;
                color: inherit;
                padding: 5px;
                font-size: 1em;

                border: {
                    width: 1px;
                    style: solid;
                    color: $textColor;
                    radius: 5px;
                }

                transition: .2s;

                &:focus {
                    transform: scale(1.03);
                }

                &.input--edit {
                    font-size: .8em;
                }
            }
        }

        &__button {
            text-align: center;

            .btn {
                background-color: $pageSecondaryColor;
                border: none;
                width: 40%;
                height: 30px;

                border: {
                    radius: 5px;
                }

                color: white;

                &--edit {
                    width: 25%;
                }
            }
        }
    }

    &__switch-anchor {
        margin-top: 20px;
        font-size: .6em;

        a {
            color: $textColor;
        }
    }

    &__validation-result {
        font-size: .6em;
        color: $pageSecondaryColor;

        ul {
            list-style-type: none;
        }
    }

    @media(max-height: 450px) {
        &__element {
            margin: 2px;

            &__part {
                label {
                    font-size: .6em;
                }

                input {
                    height: 20px;
                    font-size: .6em;
                }
            }

            &__button {
                .btn {
                    height: 20px;
                    width: 30%;
                    font-size: .5em;
                }
            }
        }

        &__validation-result {
            font-size: .4em;
        }

        &__switch-anchor {
            font-size: .4em;
            margin-top: 5px;
        }
    }
}

