@import "../../Root/Mixins/_flex-mixin";
@import "../../Root/_globalVariables";

.form {
    width: 100%;
    @include flex(flex-start, center);

    &__element {
        width: 80%;
        margin: 15px;

        &__part {
            width: 100%;

            label {
                font-size: .8rem;
            }

            input {
                width: 100%;
                height: 30px;
                outline: none;
                color: inherit;
                padding: 5px;
                font-size: inherit;

                border: {
                    width: 1px;
                    style: solid;
                    color: $textColor;
                    radius: 5px;
                }

                transition: .2s;

                &:focus {
                    transform: scale(1.03);
                }
            }
        }

        &__button {
            text-align: center;

            .btn {
                background-color: $pageSecondaryColor;
                border: none;
                width: 40%;
                height: 30px;
                border: {
                    radius: 5px;
                }
                color: white;
            }
        }
    }

    .form-switch-anchor {
        margin-top: 20px;
        font-size: .6rem;

        a {
            color: $textColor;
        }
    }
}

.validation-result {
    font-size: .6rem;
    color: $pageSecondaryColor;

    ul {
        list-style-type: none;
    }
}