.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  max-height: 95vh;
  overflow: hidden;
}
.container--narrow {
  padding: 5%;
  width: 45vw;
  min-width: 300px;
  max-width: 490px;
  overflow-y: auto;
}
.container--narrow__logo {
  width: 100%;
  text-align: center;
}
.container--narrow__logo img {
  width: 85%;
}
@media (max-height: 450px) {
  .container--narrow {
    padding: 1%;
  }
  .container--narrow__logo img {
    width: 60%;
  }
}
.container--wide {
  width: 80vw;
  height: 90vh;
  min-width: 300px;
}

h1 {
  font-size: 1.1rem;
  text-align: center;
}

p {
  margin-top: 10px;
  text-align: center;
  font-size: 0.9rem;
}
