.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  max-height: 95vh;
  overflow: hidden;
}
.container--narrow {
  padding: 5%;
  width: 45vw;
  min-width: 300px;
  max-width: 490px;
  overflow-y: auto;
}
.container--narrow__logo {
  width: 100%;
  text-align: center;
}
.container--narrow__logo img {
  width: 85%;
}
@media (max-height: 450px) {
  .container--narrow {
    padding: 1%;
  }
  .container--narrow__logo img {
    width: 60%;
  }
}
.container--wide {
  width: 80vw;
  height: 90vh;
  min-width: 300px;
}

.calendar-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #333;
}
.calendar-container .calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-content: normal;
  flex-wrap: nowrap;
  padding: 5% 7% 3%;
  color: #ff585f;
}
.calendar-container .calendar__header .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  align-content: normal;
  flex-wrap: nowrap;
}
.calendar-container .calendar__header .icons span {
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  font-size: 1rem;
  user-select: none;
  border-radius: 50%;
}
.calendar-container .calendar__header .icons span:last-child {
  margin-right: -10px;
  margin-left: 10px;
}
.calendar-container .calendar__header .icons span:hover {
  background: #f2f2f2;
}
.calendar-container .calendar__header .current-date {
  font-weight: 700;
}
.calendar-container .calendar__content {
  padding: 5%;
}
.calendar-container .calendar__content ul {
  display: flex;
  justify-content: flex-start;
  align-items: normal;
  flex-direction: row;
  align-content: normal;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar-container .calendar__content li {
  width: 14.2857142857%;
  font-size: 0.65rem;
}
.calendar-container .calendar__content .weeks li {
  cursor: default;
}
.calendar-container .calendar__content .days {
  margin-bottom: 20px;
}
.calendar-container .calendar__content .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.calendar-container .calendar__content .days li a {
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;
}
.calendar-container .calendar__content .days li.inactive {
  color: #767b85;
}
.calendar-container .calendar__content .days li.today::before {
  border: 1px solid #1e55b3;
}
.calendar-container .calendar__content .days li:not(.selected-day):hover::before {
  background: #f2f2f2;
}
.calendar-container .calendar__content .days li.selected-day {
  color: #fff;
}
.calendar-container .calendar__content .days li.selected-day::before {
  background: #ff585f;
}
.calendar-container .calendar__content .days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 30px;
  width: 30px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.tasks-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-content: normal;
  flex-wrap: nowrap;
}

.tasks-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  align-content: normal;
  flex-wrap: nowrap;
  margin: auto;
  margin-top: 10px;
  height: 40px;
  width: 100%;
  max-width: 1200px;
  position: relative;
  z-index: 1;
  font-size: 0.9em;
  font-weight: bold;
}
@media (min-width: 900px) {
  .tasks-header {
    height: 70px;
    font-size: 1em;
  }
}
.tasks-header__part {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: normal;
  flex-wrap: nowrap;
  font-size: 0.9em;
  user-select: none;
}
.tasks-header__part--logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  align-content: normal;
  flex-wrap: nowrap;
}
.tasks-header__part--date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tasks-header__part--logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  align-content: normal;
  flex-wrap: nowrap;
}
.tasks-header__logo {
  width: 100%;
  height: 100%;
  margin-left: 10px;
}
.tasks-header__logo img {
  height: 100%;
}
.tasks-header__date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: normal;
  flex-wrap: nowrap;
  position: relative;
}
.tasks-header__date__calendar-icon {
  margin-right: 5px;
}
.tasks-header__date__arrow {
  margin-left: 5px;
}
.tasks-header__date__calendar {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 300px;
  transform: translateX(-50%) scaleY(0);
  transform-origin: top center;
  transition: 0.3s;
}
.tasks-header__date__calendar--active {
  transform: translateX(-50%) scaleY(1);
}
.tasks-header__logout {
  margin-right: 10px;
}
.tasks-header__logout a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: normal;
  flex-wrap: nowrap;
}
.tasks-header__logout__icon {
  margin-left: 5px;
}

.tasks-main {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 20px;
  position: relative;
}
.tasks-main__welcome {
  margin-top: 4%;
  margin-bottom: 3%;
  width: 100%;
  text-align: center;
}
.tasks-main__welcome h1 {
  font-size: 0.9em;
}
.tasks-main__welcome h2 {
  font-size: 1em;
}
@media (min-width: 900px) {
  .tasks-main__welcome {
    margin-top: 2%;
  }
  .tasks-main__welcome h1 {
    font-size: 1.1em;
  }
  .tasks-main__welcome h2 {
    font-size: 1.2em;
  }
}
.tasks-main__list-container {
  font-size: 0.83em;
  width: 90%;
  margin: auto;
  max-width: 750px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-content: normal;
  flex-wrap: nowrap;
}
@media (min-width: 900px) {
  .tasks-main__list-container {
    font-size: 0.9em;
  }
}
.tasks-main__list {
  list-style-type: none;
  margin: auto;
}
.tasks-main__list__single-task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  align-content: normal;
  flex-wrap: nowrap;
  margin-bottom: 7%;
}
.tasks-main__list__single-task__icon {
  margin-right: 2%;
  justify-content: center;
  align-items: center;
}
.tasks-main__list__single-task__content {
  width: fit-content;
  flex-grow: 0;
}
.tasks-main__list__single-task__edit {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  align-content: normal;
  flex-wrap: nowrap;
  color: #ff585f;
  transform: scaleY(0);
  padding-left: 5%;
}
.tasks-main__list__single-task__edit > * {
  cursor: pointer;
}
.tasks-main__list__single-task__edit .fa-pen {
  color: #dcdd0c;
}
.tasks-main__list__single-task__edit .fa-trash {
  margin-left: 15px;
}
.tasks-main__list__single-task:hover .tasks-main__list__single-task__edit {
  transform: scaleY(1);
}
.tasks-main__list__single-task--done {
  opacity: 0.5;
}
.tasks-main__list__single-task--done .fa-circle {
  display: none;
}
.tasks-main__list__single-task--done .fa-circle-check {
  display: inline;
}
.tasks-main__add-task {
  display: flex;
}
.tasks-main__arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%) scale(0);
  font-size: 1.3em;
}
.tasks-main__arrow--left {
  left: 2%;
}
.tasks-main__arrow--right {
  right: 2%;
}
@media (min-width: 1075px) {
  .tasks-main__arrow {
    transform: translateY(-50%);
  }
}
@media (min-width: 1400px) {
  .tasks-main__arrow {
    font-size: 1.8em;
  }
  .tasks-main__arrow--left {
    left: 8%;
  }
  .tasks-main__arrow--right {
    right: 8%;
  }
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  display: none;
}
.backdrop--active {
  display: block;
}

.form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-content: normal;
  flex-wrap: nowrap;
}
.form__element {
  width: 80%;
  margin: 15px;
}
.form__element__part {
  width: 100%;
}
.form__element__part label {
  font-size: 0.8em;
}
.form__element__part input {
  width: 100%;
  height: 30px;
  outline: none;
  color: inherit;
  padding: 5px;
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: #1e55b3;
  border-radius: 5px;
  transition: 0.2s;
}
.form__element__part input:focus {
  transform: scale(1.03);
}
.form__element__part input.input--edit {
  font-size: 0.8em;
}
.form__element__button {
  text-align: center;
}
.form__element__button .btn {
  background-color: #ff585f;
  border: none;
  width: 40%;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}
.form__element__button .btn--edit {
  width: 25%;
}
.form__switch-anchor {
  margin-top: 20px;
  font-size: 0.6em;
}
.form__switch-anchor a {
  color: #1e55b3;
}
.form__validation-result {
  font-size: 0.6em;
  color: #ff585f;
}
.form__validation-result ul {
  list-style-type: none;
}
@media (max-height: 450px) {
  .form__element {
    margin: 2px;
  }
  .form__element__part label {
    font-size: 0.6em;
  }
  .form__element__part input {
    height: 20px;
    font-size: 0.6em;
  }
  .form__element__button .btn {
    height: 20px;
    width: 30%;
    font-size: 0.5em;
  }
  .form__validation-result {
    font-size: 0.4em;
  }
  .form__switch-anchor {
    font-size: 0.4em;
    margin-top: 5px;
  }
}
