.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5%;
  border-radius: 15px;
}
.container--narrow {
  width: 40vw;
  min-width: 300px;
  max-width: 490px;
}
.container--narrow__logo {
  width: 100%;
  text-align: center;
}
.container--narrow__logo img {
  width: 85%;
}
.container--wide {
  width: 60vw;
  min-width: 300px;
  max-width: 700px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-content: normal;
  flex-wrap: nowrap;
}
.form__element {
  width: 80%;
  margin: 15px;
}
.form__element__part {
  width: 100%;
}
.form__element__part label {
  font-size: 0.8rem;
}
.form__element__part input {
  width: 100%;
  height: 30px;
  outline: none;
  color: inherit;
  padding: 5px;
  font-size: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: #1e55b3;
  border-radius: 5px;
  transition: 0.2s;
}
.form__element__part input:focus {
  transform: scale(1.03);
}
.form__element__button {
  text-align: center;
}
.form__element__button .btn {
  background-color: #ff585f;
  border: none;
  width: 40%;
  height: 30px;
  border-radius: 5px;
  color: white;
}
.form .form-switch-anchor {
  margin-top: 20px;
  font-size: 0.6rem;
}
.form .form-switch-anchor a {
  color: #1e55b3;
}

.validation-result {
  font-size: 0.6rem;
  color: #ff585f;
}
.validation-result ul {
  list-style-type: none;
}
