.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  max-height: 95vh;
  overflow: hidden;
}
.container--narrow {
  padding: 5%;
  width: 45vw;
  min-width: 300px;
  max-width: 490px;
  overflow-y: auto;
}
.container--narrow__logo {
  width: 100%;
  text-align: center;
}
.container--narrow__logo img {
  width: 85%;
}
@media (max-height: 450px) {
  .container--narrow {
    padding: 1%;
  }
  .container--narrow__logo img {
    width: 60%;
  }
}
.container--wide {
  width: 80vw;
  height: 90vh;
  min-width: 300px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-content: normal;
  flex-wrap: nowrap;
}
.form__element {
  width: 80%;
  margin: 15px;
}
.form__element__part {
  width: 100%;
}
.form__element__part label {
  font-size: 0.8em;
}
.form__element__part input {
  width: 100%;
  height: 30px;
  outline: none;
  color: inherit;
  padding: 5px;
  font-size: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: #1e55b3;
  border-radius: 5px;
  transition: 0.2s;
}
.form__element__part input:focus {
  transform: scale(1.03);
}
.form__element__part input.input--edit {
  font-size: 0.8em;
}
.form__element__button {
  text-align: center;
}
.form__element__button .btn {
  background-color: #ff585f;
  border: none;
  width: 40%;
  height: 30px;
  border-radius: 5px;
  color: white;
}
.form__element__button .btn--edit {
  width: 25%;
}
.form__switch-anchor {
  margin-top: 20px;
  font-size: 0.6em;
}
.form__switch-anchor a {
  color: #1e55b3;
}
.form__validation-result {
  font-size: 0.6em;
  color: #ff585f;
}
.form__validation-result ul {
  list-style-type: none;
}
@media (max-height: 450px) {
  .form__element {
    margin: 2px;
  }
  .form__element__part label {
    font-size: 0.6em;
  }
  .form__element__part input {
    height: 20px;
    font-size: 0.6em;
  }
  .form__element__button .btn {
    height: 20px;
    width: 30%;
    font-size: 0.5em;
  }
  .form__validation-result {
    font-size: 0.4em;
  }
  .form__switch-anchor {
    font-size: 0.4em;
    margin-top: 5px;
  }
}
