@mixin flex($justifyContent: flex-start, $alignItems: flex-start, $flexDirection: column, $wrap: nowrap, $alignContent: normal) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;
    align-content: $alignContent;
    flex-wrap: $wrap;
}