.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    max-height: 95vh;
    overflow: hidden;

    &--narrow {
        padding: 5%;
        width: 45vw;
        min-width: 300px;
        max-width: 490px;
        overflow-y: auto;

        &__logo {
            width: 100%;
            text-align: center;

            img {
                width: 85%;
            }
        }

        @media(max-height: 450px) {
            padding: 1%;

            &__logo {
                img {
                    width: 60%;
                }
            }
        }
    }

    &--wide {
        width: 80vw;
        height: 90vh;
        min-width: 300px;
    }
}
