@{
    ViewBag.Title = "Assignments";

    ViewBag.ListHeaderUsername = User.Identity!.Name!.EndsWith('s') ? $"{User.Identity.Name}'" : $"{User.Identity.Name}'s";
}

@section Styles {
    <link rel="stylesheet" href="~/Styles/Subpages/list.min.css">
}

@section ScriptsHead {
    <script src="~/Scripts/calendar.js" defer></script>
    <script src="~/Scripts/tasksHeader.js" defer></script>
}

<div class="container container--wide tasks-container">
    <header class="tasks-header">
        <div class="tasks-header__part tasks-header__part--logo">
            <div class="tasks-header__logo">
                <img src="" alt="TaskHub logo">
            </div>
        </div>
        <div class="tasks-header__part tasks-header__part--date">
            <div class="tasks-header__date">
                <p class="tasks-header__date__calendar-icon">
                    <i class="fa-regular fa-calendar"></i>
                </p>
                <p class="tasks-header__date__date-content">
                    @ViewBag.SelectedDate
                </p>
                <p class="tasks-header__date__arrow">
                    <i class="fa-solid fa-caret-down"></i>
                </p>
            </div>
        </div>
        <div class="tasks-header__part tasks-header__part--logout">
            <div class="tasks-header__logout">
                <a asp-controller="Account" asp-action="Logout">
                    <p class="tasks-header__logout__text"></p>
                    <p class="tasks-header__logout__icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></p>
                </a>
            </div>
        </div>
    </header>
</div>