@import "../../Root/Mixins/_flex-mixin";
@import "../../Root/_globalVariables";

.tasks-main {
    //background-color: red;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 20px;
    position: relative;

    &__welcome {
        margin: {
            top: 4%;
            bottom: 3%;
        }

        width: 100%;
        text-align: center;

        h1 {
            font-size: .9em;
        }

        h2 {
            font-size: 1em;
        }

        @media(min-width: 900px) {
            margin: {
                top: 2%;
            }

            h1 {
                font-size: 1.1em;
            }

            h2 {
                font-size: 1.2em;
            }
        }
    }

    &__list-container {
        font-size: .83em;
        width: 90%;
        margin: auto;
        max-width: 750px;
        @include flex(flex-start, center);
        //> * {
        //}

        @media(min-width: 900px) {
            font-size: .9em;
        }
    }

    &__list {
        list-style-type: none;
        margin: auto;

        &__single-task {
            @include flex(flex-start, center, row);
            margin-bottom: 7%;

            &__icon {
                margin-right: 2%;
                justify-content: center;
                align-items: center;
            }

            &__content {
                width: fit-content;
                flex-grow: 0;
            }

            &__edit {
                flex-grow: 1;
                @include flex(flex-start, center, row);
                color: $pageSecondaryColor;
                transform: scaleY(0);
                padding-left: 5%;

                > * {
                    cursor: pointer;
                }

                .fa-pen {
                    color: #dcdd0c;
                }

                .fa-trash {
                    margin-left: 15px;
                }
            }

            &:hover {
                .tasks-main__list__single-task__edit {
                    transform: scaleY(1);
                }
            }

            &--done {
                opacity: .5;

                .fa-circle {
                    display: none;

                    &-check {
                        display: inline;
                    }
                }
            }
        }
    }

    &__add-task {
        display: flex;
    }

    &__arrow {
        position: fixed;
        top: 50%;
        transform: translateY(-50%) scale(0);
        font-size: 1.3em;

        &--left {
            left: 2%;
        }

        &--right {
            right: 2%;
        }

        @media(min-width: 1075px) {
            transform: translateY(-50%);
        }

        @media(min-width: 1400px) {
            font-size: 1.8em;

            &--left {
                left: 8%;
            }

            &--right {
                right: 8%;
            }
        }
    }
}