@import "../../Root/Mixins/_flex-mixin";
@import "../../Root/_globalVariables";

.tasks-main {
    //background-color: red;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 20px;
    position: relative;

    &__welcome {
        margin: {
            top: 4%;
            bottom: 3%;
        }

        width: 100%;
        text-align: center;

        h1 {
            font-size: .9em;
        }

        h2 {
            font-size: 1em;
        }

        @media(min-width: 900px) {
            margin: {
                top: 2%;
            }

            h1 {
                font-size: 1.1em;
            }

            h2 {
                font-size: 1.2em;
            }
        }
    }

    &__list-container {
        font-size: .83em;
        width: 90%;
        margin: auto;
        max-width: 750px;
        @include flex(flex-start, center);
        //> * {
        //}

        @media(min-width: 900px) {
            font-size: .9em;
        }
    }

    &__list {
        list-style-type: none;
        margin: auto;

        &__single-task {
            @include flex(flex-start, center, row);
            margin-bottom: 7%;

            &__icon {
                margin-right: 2%;
                justify-content: center;
                align-items: center;
            }

            &__content {
                //min-width: 150px;
                flex-basis: auto;
                flex-grow: 0;
                flex-shrink: 1;
            }

            &__edit {
                flex-grow: 1;
                @include flex(flex-start, center, row);
                color: $pageSecondaryColor;
                transform: scaleY(0);
                padding-left: 5%;

                > * {
                    cursor: pointer;
                }

                .fa-pen {
                    color: #dcdd0c;
                }

                .fa-trash {
                    margin-left: 15px;
                }
            }

            &:hover {
                .tasks-main__list__single-task__edit {
                    transform: scaleY(1);
                }
            }

            &--done {
                opacity: .5;

                .fa-circle {
                    display: none;

                    &-check {
                        display: inline;
                    }
                }
            }
        }
    }

    &__add-task {
        position: relative;
        width: 80%;
        min-width: 300px;

        &__btn {
            position: absolute;
            top: 0;
            left: 50%;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: inherit;
            border-radius: 5px;
            font-size: 1em;
            transition: .3s;
            transform: translateX(-50%);

            &:hover {
                transform: translateX(-50%) scale(1.05);
            }
        }

        &__form {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) scale(0);

            &--active {
                transform: translateX(-50%);
            }

            .form__element {
                padding: 0;
                margin: 0;

                &__input {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    input:focus {
                        transform: none;
                    }

                    button {
                        position: absolute;
                        right: 1px;
                        top: 0;
                        height: 100%;
                        width: 8%;
                        min-width: 23px;
                        background-color: $pageSecondaryColor;
                        border: none;
                        cursor: pointer;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        color: white;
                    }
                }
            }
        }
    }

    &__arrow {
        position: fixed;
        top: 50%;
        transform: translateY(-50%) scale(0);
        font-size: 1.3em;

        &--left {
            left: 2%;
        }

        &--right {
            right: 2%;
        }

        @media(min-width: 1075px) {
            transform: translateY(-50%);
        }

        @media(min-width: 1400px) {
            font-size: 1.8em;

            &--left {
                left: 8%;
            }

            &--right {
                right: 8%;
            }
        }
    }
}