@model AppUserRegister
@{
    ViewBag.Title = "Register";
}

@section Styles {
    <link rel="stylesheet" href="~/Styles/Subpages/SignInAndRegister.min.css">
}

    @section ScriptsHead {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" defer></script>
}

    <div class="form-container">
        <div class="form-container__logo">
            <img src="~/Assets/logo/logo-transparent.png" alt="TaskHub logo">
        </div>
        <form class="form" asp-controller="Account" asp-action="Register" asp-route-ReturnUrl="@Context.Request.Query["returnUrl"]">
            <div class="form__element">
                <div class="form__element__part form__element__label">
                    <label asp-for="Username">Username</label>
                </div>
                <div class="form__element__part form__element__input">
                    <input asp-for="Username">
                    <span class="validation-result" asp-validation-for="Username"></span>
                </div>
            </div>
            <div class="form__element">
                <div class="form__element__part form__element__label">
                    <label asp-for="Email">Email</label>
                </div>
                <div class="form__element__part form__element__input">
                    <input asp-for="Email">
                    <span class="validation-result" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form__element">
                <div class="form__element__part form__element__label">
                    <label asp-for="Password">Password</label>
                </div>
                <div class="form__element__part form__element__input">
                    <input asp-for="Password">
                    <span class="validation-result" asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="form__element">
                <div class="form__element__part form__element__label">
                    <label asp-for="PasswordConfirm">Confirm password</label>
                </div>
                <div class="form__element__part form__element__input">
                    <input asp-for="PasswordConfirm">
                    <span class="validation-result" asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>
            <div class="form__element">
                <div class="form__element__part form__element__button">
                    <button class="btn">Sign in</button>
                </div>
            </div>
            <p class="form-switch-anchor">Already registered? <a asp-controller="Account" asp-action="SignIn" asp-route-ReturnUrl="@Context.Request.Query["returnUrl"]">Sign in here</a></p>
        </form>
    </div>